.silta-form-input-date
	{
	border: 1px solid #cdcdcd;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
	-webkit-box-shadow: 0px 1px 0px 0px rgba(255,255,255,0.5) ,inset 0px 1px 2px 0px rgba(0,0,0,0.2);
	   -moz-box-shadow: 0px 1px 0px 0px rgba(255,255,255,0.5) ,inset 0px 1px 2px 0px rgba(0,0,0,0.2);
	        box-shadow: 0px 1px 0px 0px rgba(255,255,255,0.5) ,inset 0px 1px 2px 0px rgba(0,0,0,0.2);
	color: #333;
	display: inline-block;
	margin:  1px 2px;
	padding: 3px;
	outline: none;
	}

.silta-form-input-date              {background: #FFF}
.silta-form-input-date:focus        {background-color: #FAFFBD}
.silta-form-input-date[alert-input] {border-color: #ff0000 !important}