.silta-form-select
	{
	background: url(images/arrow.png) 98% 55% no-repeat #FFF;
	background-size: 9px;
	border: 1px solid #cdcdcd;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
	-webkit-box-shadow: 0px 1px 0px 0px rgba(255,255,255,0.5) ,inset 0px 1px 2px 0px rgba(0,0,0,0.2);
	   -moz-box-shadow: 0px 1px 0px 0px rgba(255,255,255,0.5) ,inset 0px 1px 2px 0px rgba(0,0,0,0.2);
	        box-shadow: 0px 1px 0px 0px rgba(255,255,255,0.5) ,inset 0px 1px 2px 0px rgba(0,0,0,0.2);
	display: inline-block;
	margin:  1px 2px;
	padding: 3px;
	overflow: hidden !important;
	}

.silta-form-select select
	{
	background: transparent;
	border: none;
	color: #333;
	cursor: pointer;
	outline :none;
	margin:  0px;
	padding: 0px;
	}
.silta-form-select:active       {background-color: #FAFFBD}
.silta-form-select[alert-input] {border-color: #ff0000 !important}